.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    flex-wrap: wrap;
    /* padding: 40px 0; */
}
.container .card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.05),
                -5px -5px 5px rgba(255, 255, 255, 0.5);
                border-radius: 15px; 
                margin: 30px;
}
.container .card .box{
    position: absolute;
    top: 20px;
    left: 14px;
    right: 14px;    
    bottom: 20px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* border-radius: 15px;      */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.container .card .box .content{
padding: 10px;
text-align: center;
}

.container .card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 10px 100px;
    /* margin-top: 40px; */
    background: #fff;
    margin-top: 15px;
    /* border-radius: 20px; */
    color: #777;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transition: 0.5s;
    /* width:min-content; */
}
.container .card:hover .box .content a{
    background: #76d722;
    color: #fff;
    border-radius: 0px;
    transition: 0.5s;
    
}
.content .btn{
    margin-top:100px; 
    /* padding: 0; */
}
.card-img{
    position: relative;
    width: 100%;
    margin-top: -25px;
}