.slider-box {
    width: 90%;
    height: 90vh;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

.slider-row{
display: flex;
width: 100%;
}
.desc-photo{
    width: 100vw;
    padding: 0 20px;
}
/* Create two equal columns that floats next to each other */
.column-slider {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-slider:after {
    content: "";
    display: table;
    clear: both;
}

#slider {
    width: 100%;
    display: inline-flex;
    transition: 0.7s;
    margin-bottom: 20px;
}

#slider .row .col-22 p {
    padding: 62px 0;
}

#slider .row .col-22 span {
    color: #9822D9;
}

.indicators {
    position: absolute;
    left: 50%;
    
    transform: translateX(-50%);
}

.indicators span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e2acff;
    cursor: pointer;
}

.active {
    background: #9822D9 !important;
}

.slide img {
    display: inline;
}

.desc {
    display: inline;
}